body {
  background-color: black;
  height: 100vh;
  background-image: url("./Pictures/Flappy\ grumpy\ bird/cartoonNightSky.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#gameOver {
  font-size: 3.4rem;
  color: white;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
  position: absolute;
  margin-left: 27%;
  margin-top: 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#gameOverText {
  margin: 0;
}

button {
  width: 10rem;
  height: 3.5rem;
  border-radius: 10px;
  font-size: 1.8rem;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

#start {
  font-family: Agbalumo;
  font-size: 2rem;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
  margin-left: 26.5%;
  margin-top: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#instructionText1 {
  margin: 0;
}

#instructionText2 {
  margin: 0;
}


#movingBird {
  height: 5rem;
  width: 5rem;
  position: absolute;
  margin-left: 23.5%;     /* originally 25% */
  margin-top: 20%;       /* originally 20% */
}

#pair1 {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: end;
  width: 21%;
  margin-left: 100%;
}

#clawDownLong {
  height: 22rem;
  width: 100%;
  /* margin-bottom: 25%; */
} 

#clawUpShort {
  height: 18rem;
  width: 100%;
  margin-top: 70%;
  margin-bottom: -20px;
}

#pair2 {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: end;
  width: 21%;
  margin-left: 160%;
}

#clawDownShort {
  height: 18rem;
  width: 100%;
  margin-bottom: 90%;
}

#clawUpLong {
  height: 22rem;
  width: 100%;
  margin-bottom: -20px;
  /* margin-top: 25%; */
} 

#pair3 {
  position: absolute;
  height: 48vh;     /* previously 100vh */
  width: 25%; 
  margin-left: 210%;
}



.container {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: end;
  width: 25%;
  margin-left: 260%;
}

/* #invisibleFiller {
  height: 80rem;
  width: 100%;
  margin-bottom: 90%;
} */


#pair4 {
  position: absolute;
  /* previously height: 100vh */
  width: 100%; 
  margin-left: 260%;
}

#allClawPairs {
  position: relative;
  /* background-color: purple; */
}

button:hover {
  cursor: pointer;
}