body {
  background-image: url("./Pictures/Flappy\ grumpy\ bird/cartoonNightSky.png");
  background-size: 100% 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center; 
}


#movingBird {
  height: 5rem;
  width: 4.5rem;
  grid-area: 3 / 3 / 4 / 3;
}

.short {
  height: 15rem;
  width: 17rem;
}

#clawDownLong , #clawUpLong {
  height: 21rem;
  width: 18rem;
}

#clawDownLong {
  grid-area: 1 / 7 / 3 / 9;
}

#clawUpShort {
  grid-area: -1 / 7 / -3 / 9;
}

#clawDownShort {
  grid-area: 1 / 4 / 3 / 6;
}

#clawUpLong {
  grid-area: 6 / 4 / 9 / 6;
}

button {
  grid-area: 3 / 5 / 4 / 6;
  align-items: center;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 15px;
  border: solid black .2rem;
  /* font-style: italic; */
}


/* body {
  margin: 0;
  background-image: url("./Pictures/Flappy\ grumpy\ bird/cartoonNightSky.png");
  background-size: 100% 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
} 

#movingBird {
  height: 6rem;
  width: 5.5rem;
}

.short {
  height: 20rem;
}

#clawDownLong , #clawUpLong {
  height: 30rem;
}

.pair1 {
  display: flex;
  flex-direction: column;
}

.pair2 {
  display: flex;
  flex-direction: column;
} */


