body {
  background-color: green;
  height: 100vh;
  background-image: url("./Pictures/Flappy\ grumpy\ bird/cartoonNightSky.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* #invisibleBox1 {
  height: 600px;
  width: 600px;
  background-color: blue;
} */

#movingBird {
  height: 5rem;
  width: 5rem;
  position: absolute;
  margin-left: 25%;
  margin-top: 20%;
}

#pair1 {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: end;
  width: 21%;
  margin-left: 100%;
}
#clawUpShort {
  height: 18rem;
  width: 100%;
  margin-top: 35%;
}

#clawDownLong {
  height: 22rem;
  width: 100%;
  margin-bottom: 25%;
} 

#pair2 {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: end;
  width: 21%;
  margin-left: 160%;
}

#clawDownShort {
  height: 18rem;
  width: 100%;
  margin-bottom: 55%;
}

#clawUpLong {
  height: 22rem;
  width: 100%;
  margin-top: 25%;
} 

#pair3 {
  position: absolute;
  height: 100vh;
  width: 25%;
  margin-left: 210%;
}

#pair4 {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: end;
  width: 25%;
  margin-left: 260%;
}

#invisibleFiller {
  height: 18rem;
  width: 100%;
  margin-bottom: 55%;
}

#allClawPairs {
  position: relative;
}